In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_m1p1_locus = pd.read_csv("resM1P1.csv", sep=";", na_values="NA")
# df_m1p1_locus.set_index("plant", inplace=True)
print(df_m1p1_locus)

     markA.1  markA.2  plant
0        NaN      NaN      1
1        NaN      NaN      2
2      258.0    278.0      3
3      258.0    278.0      4
4      258.0    278.0      5
..       ...      ...    ...
379    262.0    262.0    380
380    267.0    267.0    381
381    274.0    274.0    382
382    286.0    286.0    383
383    274.0    274.0    384

[384 rows x 3 columns]

In [3]:
df_plant_names = pd.read_csv("plant_names.csv", sep=";", na_values="NA")
df_plant_names.dropna(axis=0, inplace=True)
print(df_plant_names)

                      name
0        Y5X52_K19_070.fsa
1    MF09Q1BP1_M08_020.fsa
2    MF18Q3CC2_P06_017.fsa
3    MF09Q3BC2_O12_034.fsa
4    MF09Q2BC1_M18_067.fsa
..                     ...
379     Y7X122_F13_059.fsa
380  MF18Q3DP3_P18_065.fsa
381  MF08Q2EP3_I24_088.fsa
382  MF13Q5AP2_D10_045.fsa
383  MF05Q2BC3_E02_011.fsa

[384 rows x 1 columns]

In [4]:
#plant_names = df_plant_names['name'].to_list()
df_plant_names.sort_values(by="name", inplace=True)
df_plant_names.reset_index(drop=True, inplace=True)
print(df_plant_names)

                      name
0          EAU_E11_044.fsa
1          EAU_F07_028.fsa
2    MF01Q4BC1_A04_016.fsa
3    MF01Q4BC2_A10_047.fsa
4    MF01Q4BC3_A12_048.fsa
..                     ...
379      Y9X56_L11_038.fsa
380      Y9X75_L13_053.fsa
381      Y9X76_L15_054.fsa
382      Y9X79_L17_069.fsa
383      Y9X98_L19_070.fsa

[384 rows x 1 columns]

In [6]:
df = pd.concat([df_m1p1_locus, df_plant_names], axis=1)
print(df)

     markA.1  markA.2  plant                   name
0        NaN      NaN      1        EAU_E11_044.fsa
1        NaN      NaN      2        EAU_F07_028.fsa
2      258.0    278.0      3  MF01Q4BC1_A04_016.fsa
3      258.0    278.0      4  MF01Q4BC2_A10_047.fsa
4      258.0    278.0      5  MF01Q4BC3_A12_048.fsa
..       ...      ...    ...                    ...
379    262.0    262.0    380      Y9X56_L11_038.fsa
380    267.0    267.0    381      Y9X75_L13_053.fsa
381    274.0    274.0    382      Y9X76_L15_054.fsa
382    286.0    286.0    383      Y9X79_L17_069.fsa
383    274.0    274.0    384      Y9X98_L19_070.fsa

[384 rows x 4 columns]

In [8]:
out_path = "resM1P1_plant_names.csv"
df.to_csv(out_path, index=False, na_rep='NA')